@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

:root {
  --primary-color: #7bab2a;
  --secondary-color: #6c757d;
  --background-color: #ebead4;
  --text-color: #4b5563;
}

.primary-text {
  color: var(--primary-color) !important;
}
.bg-green {
  background-color: var(--primary-color) !important;
}

body {
  background-color: var(--background-color);
}

.navbar {
  transition: box-shadow 0.3s ease-in-out;
  border: 1px solid var(--primary-color);
}

.nav-link {
  color: var(--text-color);
  transition: color 0.2s ease-in-out;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

.custom-btn {
  background-color: var(--primary-color);
  color: white;
  font-weight: 600;
}
.custom-btn:hover {
  background-color: #6c9b24;
  color: white;
}

.custom-outline-btn {
  background-color: transparent;
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  font-weight: 600;
}
.custom-outline-btn:hover {
  background-color: var(--primary-color);
  color: white;
  border: 2px solid var(--primary-color);
}

.aed-symbol {
  width: 50px; /* Adjust as needed */
  height: 50px;
  display: inline-block;
}

.aed-symbol svg {
  width: 100%;
  height: 100%;
  fill: #212529; /* Change color as needed */
}

.aed-symbol rect {
  fill: #212529; /* Color for the horizontal bars */
  border-radius: 50px;
}

.icon-dirhams {
  display: inline-block;
  width: 35px;
  height: 35px;
  background-image: url("/assets/images/dirhams.png");
  background-size: contain; /* fits the image inside */
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;
}
